/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body Background */
body {
    background-color: #0f0f0f;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
    color: #e50914;
    font-size: 28px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li {
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    color: #e50914;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.3)),
                url("https://wallpapercave.com/wp/wp11372277.jpg");
    background-size: repeat;
    background-position: center;
    transition: 0.5s ease-in-out;
}

.movie-content {
    max-width: 600px;
}

#title {
    font-size: 50px;
    margin-bottom: 15px;
}

#info {
    margin-bottom: 15px;
    color: #ccc;
}

#description {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Buttons */
.buttons button {
    padding: 10px 18px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

#showBtn {
    background-color: #28a745;
    color: white;
}

#hideBtn {
    background-color: #dc3545;
    color: white;
}

#toggleBtn {
    background-color: #ffc107;
    color: black;
}

#animateBtn {
    background-color: #007bff;
    color: white;
}

.buttons button:hover {
    opacity: 0.8;
}

/* Poster Section
.poster-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: #141414;
}

.poster {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.1);
} */